body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    color: #000000;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.header{
    margin: 0 auto;
    background: url("../img/backgr.png") no-repeat;
    opacity: 0.95;
}

.header-container{
    min-height: 86vh;
    background-color: rgba(47, 103, 162, 0.3);
}

@media (min-width: 768px) {
    .header-container {
        max-height: 90vh;
    }
}

.banner{
    padding-top: 135px;
    color: white;
}

.bbutton{
    font-family: 'Roboto', sans-serif;
    width: 150px;
}

.brands img{
    height: 108px;
}

.brand-container{
    padding: 30px;
}

.shop-now img{
    width: 100%;
    object-fit: cover;
    height: 65vh;
}
.shop-now .card-img-overlay{
    background-color: rgba(0,0,0,0.4); 
    display: flex; 
    align-items: flex-end;
}

.assets{
    color: #000000;
    padding-bottom: 20px;

}

.assets a{
    text-decoration: none;
    color: black;
}
.assets a:visited{
    color: #000000;
}

.product-manufacturer{
    padding-top: 5px;
    font-size: 17px;
    font-weight: 600;
    color: #000000;
}

.product-sex{
    font-size: 14px;
    color: grey;
    font-weight: 300;
}

.product-price{
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.product-image img{
    width: 100%;
}

.liner{
    margin-top: 30px;
    width: 12%;
    border: 1px solid rgb(11, 80, 209);
}

.pros-column{
    display: flex ;
    flex-direction: column;
    align-items: center; 
}

.pros-column i{
    padding-top: 30px;
    font-size: 50px;
}

.pros-title{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

.pros-text{
    width: 80%;
    padding-top: 5px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

.products-container{
    padding-bottom: 100px;
}

.liner1{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    height: 0.1px;
    margin: 0;
}

.footer-banner img{
    width: 30%;
}

.footer-title{
    letter-spacing: -1px;
    padding-top: 30px;
    font-size: 25px;
    font-weight: 700;
}

.footer{
    padding: 100px 0;
}

.them-title{
    font-size: 20px;
    font-weight: 600;
}

.list{
    padding-top: 10px;
}

.list ul{
    list-style-type: none;
    margin: 0; 
    padding: 0;
}

.list ul li{
    margin: 0; 
    padding: 0;
}

.list ul li a{
    font-size: 15px;
    font-weight: 300;
    color: grey;
    padding-top: 8px;
    text-decoration: none;
}
.cr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.cr-text{
    color:grey;
}

.cr-icons ul{
    list-style-type: none;
    margin: 0;
}

.cr-icons ul li{
    display: inline;
    align-items: center;
}

.cr-icons ul li a{
    padding: 20px;
    text-decoration: none;
}

.cr-icons ul li i{
    font-size: 20px;
    color: black;
}
/* Men-Women */
.header-wo-men{
    margin: 0 auto;
    background-color: rgb(79, 158, 156);
}

.location a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
}

.location i{
    color: gray;
    font-size: 12px;
}

.products-title{
    font-size: 22px;
    color: #000000;
    font-weight: 600;
}

.cart-title{
    font-size: 22px;
    color: #000000;
    font-weight: 600;
}

.products-price{
    color:rgba(164, 164, 164, 0.99);
    font-weight: lighter;
    font-size: 16px;
}

.intro{
    font-family: 'Poppins', sans-serif;
}

.intro a:hover{
    color: rgb(79, 158, 156);
}
.show-by-items{
    padding: 0 3px;
    font-size: 13px;
    color: gray;
    text-decoration: none;
}

.custom-btn:focus {
    box-shadow: none;
  }

  .custom-btn[data-bs-toggle="dropdown"]::after {
    border-top-color: rgb(79, 158, 156);
    font-size: 13px;
  }

  .custom-btn-gr[data-bs-toggle="dropdown"]::after {
    border-top-color: rgb(255, 255, 255);
    font-size: 13px;
  }

  .product-type{
    font-size: 15px;
    color: grey;
    font-weight: 300;
}


.square-button:hover {
    background-color: rgb(79, 158, 156);
    color: white;
    transition: 0.3s;
    border: 1px solid rgb(79, 158, 156);
}

/* Buying items */
.plusminus{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid rgba(220,220,220,0.9);
    margin-top: 5px; 
}

.plusminus span{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.plusminus span.num{
    font-size: 14px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.plusminus span:hover{
    color: rgb(79, 158, 156);
}

/* Cart */
.item-title{
    font-size: 17px;
    font-weight: 500;
}

.item-article{
    font-size: 13px;
    font-weight: 300;
}

.item-price{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.item-counter{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(220,220,220,0.9);
    margin-top: 5px; 
}

.item-counter span{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(79, 158, 156);
}

.item-counter span.num{
    color:black;
    font-size: 16px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.item-counter span.num:hover{
    color:black;
    background-color: white;
}

.item-counter span:hover{
    color: white;
    transition-duration: 0.3s;
    background-color: rgb(79, 158, 156);
}

.remove-item{
    cursor: pointer;
    font-size: 15px;
}

.total{
    background-color: rgb(233, 242, 255);
}

.inner-total{
    padding: 10px 15px;
    font-size: 16px;
}

.total-total{
    font-weight: 600;
}

.submit-order{
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(64, 163, 146);
}

.submit-order:hover{
    transition-duration: 0.3s;
    background-color: rgb(91, 177, 163);
}

.carousel-container {
    margin-top: 20px;
    overflow: hidden;
}

.carousel-wrapper {
    position: relative;
    overflow: hidden;
}

.myCarousel {
    display: flex;
    justify-content: space-between;
    align-self: start;
    transition: transform 0.5s;
}

.slider {
    display: flex;
    justify-content: center;
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 30px;

}
.slider img{
    width: 100%;
    height: 90px;
}